# Virtual Environment
.venv/

# Environment Variables
.env

# Python Cache
__pycache__/
*.py[cod]

# VS Code
.vscode/

# Streamlit
.streamlit/

# Operating System Files
.DS_Store
Thumbs.db

# Logs
*.log

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/